.grid{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  
}

.navigation{
  grid-row:1 1;
}

.content{
  grid-row:2 2;
}


@media(min-width: 68.75em){
  .grid{
    grid-template-columns: 31.25rem 1fr;
    grid-template-rows:auto;
    grid-column-gap:1.5rem;
  }

  .navigation{
    grid-column: 1 1
    grid-row: 1 1;

  }

  .content{
    grid-column: 2 2;
    grid-row: 1 1;

  }
}
